@tailwind base;
@tailwind components;
@tailwind utilities;

.sticky-top {
  position: fixed;
  top: 0;
  background-color:#1D2820; /* Change to your desired color */
  z-index: 1;
  height: 80px; /* Change to your desired height */
  line-height: 60px; /* Centers the text vertically */
}
button:focus {
  outline: none; /* Removes the default focus outline */
}
.imageDisplay {
  position: absolute;
  z-index: 3;
  border: 5px solid black;
  border-radius: 5px;
  background-color: white;
  width: 90vw;
  height: 90vh;
  margin: auto;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.imageDisplay > img {
  width: 33%;
  height: 33%;
}

.modal-exit-btn {
  color: red;
  position: absolute;
  right: 1rem;
  top: 1rem;

}